html, body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#header {
    padding-top: 1vw;
    padding-bottom:1.2vw;
    padding-left: 1vw;
    background-color: black;
    color: white;
    font-size: 1.4vw;
}

.link {
    text-align: center;
    display: inline;
    padding-right: 5vw;
}

#sapx-logo {
    width: 10vw;
    float: left;
    padding-right: 45vw;
}

.blue-text {
    color: #00D1FF;
}

.teal-text {
    color: #00CCC0;
}

#title-screen {
    z-index: -1;
    width: 100%;
    display:block;
}

#project {
    position: absolute;
    top: 12vw;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.51);
    font-size: 2vw;
    text-align: center;
}

#dew-title {
    width:40vw;
    position:absolute;
    left: 5vw;
    top: 30vw;
}

#desc-container {
    position: absolute;
    top: 30vw;
    width: 100%;
    padding-top: 12vw;
    padding-bottom: 14.2vw;
    color: white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    font-size: 1.5vw;
}

#desc {
    padding-left: 2vw;
    width: 65vw;
}

#footer {
    color: grey;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    font-size: 0.75vw;
}


